.nav {
  /* border: 1px solid ; */
  display: flex;
  gap: 1.5rem;
  position: absolute;
  top: calc(3rem - 50%);
  left: 0;
  width: 100%;
  /* overflow-x: scroll; */
}

.nav a {
  width: fit-content;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background: var(--color-white);
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-family: var(--type-secondary);
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--color-secondary);
  box-shadow: var(--shadow);
  border: 2px solid var(--color-white);
  transition: all .1s ease-in;
}

.nav a:hover,
.nav a:focus, 
.nav a:global(.active) {
  border-bottom: 2px solid var(--color-pink);
  color: var(--color-pink);
}

@media (max-width: 600px) {
  .nav a {
    font-size: 1rem;
  }

  .nav a .icon {
    width: 20px;
  }
}
