@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;600;700&family=Poppins:wght@300;400;500&display=swap');

:root {
  --color-dark:#207B1A;
  --color-principal:#249D1C;
  --color-secondary:#33BE29;
  --color-white: #F3FCF1;
  --color-pink: #DE56B2;
  --shadow: 0 0 3px 1px rgba(25, 80, 23, .1);

  --type-principal: "Barlow", sans-serif;
  --type-secondary: "Poppins", sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background: #CCF6C8;
  margin: 0;
  /* height: 100%; */
  /* padding: 20px; */
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

li, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  background: var(--color-white);
  height: 100vh;
  border-radius: 1rem 1rem 0 0;
}

.main {
  /* border: 1px solid red   ; */
  width: 70%;
  margin: 0 auto;
  position: relative;
  padding: 4rem 0;
}

.animeLeft {
  opacity: 0;
  transform: translateX(-20px);
  animation: animeLeft .3s forwards;
}

@keyframes animeLeft {
  to {
    opacity: 1;
    transform: initial;
  }
}

@media (max-width: 600px) {
  .main {
    width: 90%;
    padding: 4rem 0;
  }
}